In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = '../../data/phase_2/price_data.xlsx'

data = pd.read_excel(data_path, index_col= False)

In [3]:
data.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
0,NDB,64.9,64.9,63.9,63.9,2024-02-07,1707264000
1,LLUB,95.0,96.0,92.1,94.4,2024-02-07,1707264000
2,COMB,88.0,89.0,88.0,89.0,2024-02-07,1707264000
3,DFCC,78.0,78.0,76.0,77.1,2024-02-07,1707264000
4,HAYL,75.0,75.6,74.9,75.0,2024-02-07,1707264000

In [4]:
data.shape

(34481, 7)

In [5]:
(data.CLOSINGPRICE <0).any()

False

In [6]:
low_mask = (data.CLOSINGPRICE < data.LOWPX)
# close_mask

In [7]:
data[low_mask]

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
4778,DFCC,36.90,36.90,36.90,36.00,2022-07-27,1658880000
5015,DFCC,35.10,35.10,35.10,35.00,2022-06-29,1656460800
5016,HAYL,66.00,66.90,65.00,64.80,2022-06-29,1656460800
5019,JKH,122.25,122.50,122.25,122.00,2022-06-29,1656460800
5024,NTB,34.00,34.00,34.00,33.30,2022-06-29,1656460800
...,...,...,...,...,...,...,...
34165,CINS,2200.00,2200.00,2160.75,2094.75,2022-02-15,1644883200
34222,CINS,2360.00,2618.25,2360.00,2094.75,2022-02-14,1644796800
34259,MSL,358.00,358.00,358.00,354.75,2022-02-11,1644537600
34310,SWAD,18379.00,18379.00,18379.00,15003.50,2022-02-10,1644451200
34471,CINS,2133.00,2133.00,2133.00,2130.00,2022-02-08,1644278400

In [8]:
(data.CLOSINGPRICE < data.LOWPX).sum(), (data.OPENINGPRICE < data.LOWPX).sum()

(1491, 0)

In [9]:
(data.CLOSINGPRICE > data.HIGHPX).sum(), (data.OPENINGPRICE > data.HIGHPX).sum()
high_mask = (data.CLOSINGPRICE > data.HIGHPX)
data[high_mask]

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
3504,NTB,47.00,47.0,46.6,47.20,2022-12-20,1671494400
3508,DFCC,32.30,32.4,32.3,33.00,2022-12-20,1671494400
5020,LLUB,74.50,74.5,74.5,75.00,2022-06-29,1656460800
5022,MELS,36.50,36.5,36.5,37.10,2022-06-29,1656460800
5023,NDB,35.00,35.0,35.0,35.10,2022-06-29,1656460800
...,...,...,...,...,...,...,...
34225,CTEA,905.25,907.0,905.0,914.25,2022-02-14,1644796800
34261,LPRT,252.00,252.0,235.0,258.00,2022-02-11,1644537600
34322,LPRT,254.00,254.0,235.0,258.00,2022-02-10,1644451200
34344,CTEA,911.00,911.0,910.0,911.50,2022-02-10,1644451200
34388,LAMB,401.00,401.0,400.0,405.50,2022-02-09,1644364800

In [10]:
data_path = '../../data/phase_2/price_data_v2.xlsx'

data = pd.read_excel(data_path, index_col= False)

In [11]:
data.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
0,EXT,7.3,7.5,7.3,7.5,2024-02-07,1707264000
1,COOP,2.3,2.3,2.2,2.2,2024-02-07,1707264000
2,MDL,8.3,8.6,8.3,8.6,2024-02-07,1707264000
3,FCT,24.9,26.4,24.8,26.2,2024-02-07,1707264000
4,HBS,11.5,11.6,11.5,11.5,2024-02-07,1707264000

In [12]:
data.shape

(32745, 7)

In [13]:
(data.CLOSINGPRICE <0).any()

False

In [14]:
low_mask = (data.CLOSINGPRICE < data.LOWPX)
# close_mask

In [15]:
data[low_mask]

Empty DataFrame
Columns: [SECURITYCODE, OPENINGPRICE, HIGHPX, LOWPX, CLOSINGPRICE, TRADEDATE, UNIX_TS]
Index: []

In [16]:
(data.CLOSINGPRICE < data.LOWPX).sum(), (data.OPENINGPRICE < data.LOWPX).sum()

(0, 0)

In [17]:
(data.CLOSINGPRICE > data.HIGHPX).sum(), (data.OPENINGPRICE > data.HIGHPX).sum()
high_mask = (data.CLOSINGPRICE > data.HIGHPX)
data[high_mask]

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
31975,MELS,38.1,39.0,37.5,39.5,2022-04-08,1649376000
32399,DFCC,53.1,53.1,52.0,53.7,2022-03-08,1646697600