In [74]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [2]:
sl20 = pd.read_excel('../../data/SL20 Two years to Narada.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [3]:
sl20.head()

,WATCHID,SECURITYCODE,PREVIOUSDAYVWAP,LASTTRADEPRICE,LASTUPDATEDTIME,BESTASKPRICE,BESTASKSIZE,BESTBIDPRICE,BESTBIDSIZE,HIGHPX,...,CLOSINGPRICE,TOTALTURNOVER,BOOKDEFINITIONID,INFO1,INFO2,SECURITYSTATUS,TRADEDATE,EXCHANGEID,UNIX_TS,VWAP
0,80705242,VONE.N0000,NaN,NaN,2024-02-07 14:47:57,0,0,0,0,NaN,...,NaN,NaN,CROSSING,NaN,NaN,NaN,2024-02-07,CSE,1707264000,NaN
1,80705801,VONE.N0000,38.6,39.2,2024-02-07 14:47:57,0,0,0,0,39.2,...,38.9,3175073.2,REGULAR,NaN,NaN,NaN,2024-02-07,CSE,1707264000,38.6751
2,80705635,NDB.N0000,64.1,63.9,2024-02-07 14:47:50,0,0,0,0,64.9,...,63.9,1906369.4,REGULAR,NaN,NaN,NaN,2024-02-07,CSE,1707264000,63.9979
3,80705583,LLUB.N0000,95.0,95.9,2024-02-07 14:47:48,0,0,0,0,96.0,...,94.4,16281643.2,REGULAR,NaN,NaN,NaN,2024-02-07,CSE,1707264000,95.4096
4,80705393,CIC.N0000,63.9,63.0,2024-02-07 14:47:40,0,0,0,0,64.0,...,63.0,1218961.0,REGULAR,NaN,NaN,NaN,2024-02-07,CSE,1707264000,63.3753

In [4]:
sl20_fil = sl20[['SECURITYCODE','OPENINGPRICE','HIGHPX','LOWPX','LASTTRADEPRICE', 'TRADEDATE','UNIX_TS']].copy()
sl20_fil = sl20_fil.dropna(how = 'any')
sl20_fil = sl20_fil.rename({'LASTTRADEPRICE':'CLOSINGPRICE'}, axis = 1)
sl20_fil.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
1,VONE.N0000,38.5,39.2,38.4,39.2,2024-02-07,1707264000
2,NDB.N0000,64.9,64.9,63.9,63.9,2024-02-07,1707264000
3,LLUB.N0000,95.0,96.0,92.1,95.9,2024-02-07,1707264000
4,CIC.N0000,64.0,64.0,63.0,63.0,2024-02-07,1707264000
5,COMB.N0000,88.0,89.0,88.0,89.0,2024-02-07,1707264000

In [5]:
sl20_fil.shape

(8922, 7)

In [7]:
def split_(stock_name):
    return stock_name.split('.')[0]
sl20_fil['SECURITYCODE'] = sl20_fil['SECURITYCODE'].apply(lambda x : split_(x))

sl20_fil.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
1,VONE,38.5,39.2,38.4,39.2,2024-02-07,1707264000
2,NDB,64.9,64.9,63.9,63.9,2024-02-07,1707264000
3,LLUB,95.0,96.0,92.1,95.9,2024-02-07,1707264000
4,CIC,64.0,64.0,63.0,63.0,2024-02-07,1707264000
5,COMB,88.0,89.0,88.0,89.0,2024-02-07,1707264000

In [9]:
new_symbols = pd.read_excel('../../data/phase_2_price_data.xlsx')
new_symbols.head()

c:\Users\bpadmin\anaconda3\envs\tf_tr_recommender\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,WATCHID,SECURITYCODE,PREVIOUSDAYVWAP,LASTTRADEPRICE,LASTUPDATEDTIME,BESTASKPRICE,BESTASKSIZE,BESTBIDPRICE,BESTBIDSIZE,HIGHPX,...,CLOSINGPRICE,TOTALTURNOVER,BOOKDEFINITIONID,INFO1,INFO2,SECURITYSTATUS,TRADEDATE,EXCHANGEID,UNIX_TS,VWAP
0,80959568,EXT.N0000,7.5,7.6,2024-02-26 14:47:54,0,0,0,0,7.6,...,7.6,2280.0,REGULAR,NaN,NaN,NaN,2024-02-26,CSE,1708905600,7.6000
1,80959558,MDL.N0000,8.6,8.1,2024-02-26 14:47:53,0,0,0,0,8.1,...,8.6,243.0,REGULAR,NaN,NaN,NaN,2024-02-26,CSE,1708905600,8.1000
2,80959550,SDF.N0000,12.4,12.5,2024-02-26 14:47:53,0,0,0,0,12.5,...,12.5,53227.5,REGULAR,NaN,NaN,NaN,2024-02-26,CSE,1708905600,12.4859
3,80959562,COOP.N0000,2.2,2.1,2024-02-26 14:47:53,0,0,0,0,2.3,...,2.2,2349412.5,REGULAR,NaN,NaN,NaN,2024-02-26,CSE,1708905600,2.1045
4,80959548,LCBF.N0000,1.7,1.8,2024-02-26 14:47:53,0,0,0,0,1.8,...,1.8,18595.8,REGULAR,NaN,NaN,NaN,2024-02-26,CSE,1708905600,1.8000

In [10]:
new_symbols.shape

(65491, 27)

In [11]:
new_symbols_fil = new_symbols[['SECURITYCODE','OPENINGPRICE','HIGHPX','LOWPX','LASTTRADEPRICE', 'TRADEDATE','UNIX_TS']].copy()
new_symbols_fil = new_symbols_fil.dropna(how = 'any')
new_symbols_fil = new_symbols_fil.rename({'LASTTRADEPRICE':'CLOSINGPRICE'}, axis = 1)
new_symbols_fil.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
0,EXT.N0000,7.6,7.6,7.6,7.6,2024-02-26,1708905600
1,MDL.N0000,8.1,8.1,8.1,8.1,2024-02-26,1708905600
2,SDF.N0000,12.4,12.5,12.4,12.5,2024-02-26,1708905600
3,COOP.N0000,2.2,2.3,2.1,2.1,2024-02-26,1708905600
4,LCBF.N0000,1.8,1.8,1.8,1.8,2024-02-26,1708905600

In [12]:
def split_(stock_name):
    return stock_name.split('.')[0]

new_symbols_fil['SECURITYCODE'] = new_symbols_fil['SECURITYCODE'].apply(lambda x : split_(x))

new_symbols_fil.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
0,EXT,7.6,7.6,7.6,7.6,2024-02-26,1708905600
1,MDL,8.1,8.1,8.1,8.1,2024-02-26,1708905600
2,SDF,12.4,12.5,12.4,12.5,2024-02-26,1708905600
3,COOP,2.2,2.3,2.1,2.1,2024-02-26,1708905600
4,LCBF,1.8,1.8,1.8,1.8,2024-02-26,1708905600

In [14]:
new_symbols_fil_symbols = set(list(new_symbols_fil.SECURITYCODE.unique()))
sl20_fil_symbols = set(list(sl20_fil.SECURITYCODE.unique()))

len(new_symbols_fil_symbols), len(sl20_fil_symbols) ,len(new_symbols_fil_symbols - sl20_fil_symbols)

(68, 19)

In [18]:
only_new_symbols = list(new_symbols_fil_symbols - sl20_fil_symbols)
only_new_symbols_fil = new_symbols_fil[new_symbols_fil.SECURITYCODE.isin(only_new_symbols)]
only_new_symbols_fil.shape, new_symbols_fil.shape

((26257, 7), (29145, 7))

In [19]:
all_price = pd.concat([only_new_symbols_fil, sl20_fil], ignore_index = True)
all_price.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
0,EXT,7.6,7.6,7.6,7.6,2024-02-26,1708905600
1,MDL,8.1,8.1,8.1,8.1,2024-02-26,1708905600
2,SDF,12.4,12.5,12.4,12.5,2024-02-26,1708905600
3,COOP,2.2,2.3,2.1,2.1,2024-02-26,1708905600
4,LCBF,1.8,1.8,1.8,1.8,2024-02-26,1708905600

In [22]:
only_new_symbols_fil.shape[0] + sl20_fil.shape[0], all_price.shape

(35179, (35179, 7))

In [23]:
sl20_fil_td = sl20_fil.TRADEDATE.max()
all_price_fil = all_price[all_price.TRADEDATE <= sl20_fil_td]

In [24]:
all_price_fil.shape

(34554, 7)

In [26]:
all_price_fil.TRADEDATE.min(), all_price_fil.TRADEDATE.max()

(Timestamp('2022-02-08 00:00:00'), Timestamp('2024-02-07 00:00:00'))

In [58]:
all_price_fil.SECURITYCODE.nunique()

81

In [30]:
all_price_fil.SECURITYCODE.value_counts()[-10:]

SINI    336
PHAR    325
CINS    298
CTHR    297
NEST    284
LPRT    268
LAMB    240
SING    190
CPRT    106
SWAD     31
Name: SECURITYCODE, dtype: int64

In [60]:
end = all_price_fil.TRADEDATE.max().to_pydatetime()
end = end.date()
start = (end - timedelta(days = 365))
type(all_price_fil.TRADEDATE.max())

day_count = np.busday_count( start, end )
day_count

261

In [69]:
(all_price_fil.SECURITYCODE.value_counts()>day_count)

AAIC     True
LIOC     True
PAP      True
JKH      True
HNB      True
        ...
LPRT     True
LAMB    False
SING    False
CPRT    False
SWAD    False
Name: SECURITYCODE, Length: 81, dtype: bool

In [70]:
day_count_symbols = all_price_fil.groupby('SECURITYCODE').filter(lambda x: len(x)>day_count)['SECURITYCODE'].unique()
len(day_count_symbols)

77

In [59]:
last_date_symbols = all_price_fil.groupby('SECURITYCODE').filter(lambda x: x['TRADEDATE'].max() == all_price_fil.TRADEDATE.max())['SECURITYCODE'].unique()
len(last_date_symbols)

75

In [ ]:
# last_date_symbols = all_price_fil.groupby('SECURITYCODE').filter(lambda x: x['TRADEDATE'].max() == all_price_fil.TRADEDATE.max())

In [73]:
count_lday_symbols = list(set(day_count_symbols).intersection(set(last_date_symbols)))
len(count_lday_symbols)

73

In [76]:
price_data = all_price_fil[all_price_fil.SECURITYCODE.isin(count_lday_symbols)].copy()
price_data = price_data.reset_index(drop = True)
price_data.head()

,SECURITYCODE,OPENINGPRICE,HIGHPX,LOWPX,CLOSINGPRICE,TRADEDATE,UNIX_TS
0,EXT,7.3,7.5,7.3,7.5,2024-02-07,1707264000
1,COOP,2.3,2.3,2.2,2.2,2024-02-07,1707264000
2,MDL,8.3,8.6,8.3,8.6,2024-02-07,1707264000
3,FCT,24.9,26.4,24.8,26.2,2024-02-07,1707264000
4,HBS,11.5,11.6,11.5,11.5,2024-02-07,1707264000

In [79]:
price_data.to_excel('../../data/phase_2/price_data_v2.xlsx', index = False)