# Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
user_history_path = '../../data/atrad_user_history_v2.csv'
df = pd.read_csv(user_history_path, names=["userID", "itemID"],dtype = {'userID':np.int32}, skiprows=1)
df = df.assign(rating=1)

In [3]:
df.head()

   userID      itemID  rating
0       3   CIC.N0000       1
1       3  LIOC.N0000       1
2       3  RICH.N0000       1
3       3  WATA.N0000       1
4       5   CIC.N0000       1

In [4]:
def split_(stock_name):
    return stock_name.split('.')[0]

In [5]:
df['itemID'] = df['itemID'].apply(lambda x : split_(x))

In [6]:
df.head()

   userID itemID  rating
0       3    CIC       1
1       3   LIOC       1
2       3   RICH       1
3       3   WATA       1
4       5    CIC       1

In [11]:
item_counts = (df.groupby('itemID')['userID'].count().sort_values())

In [12]:
total_count = df.userID.nunique()

In [14]:
item_counts/total_count

itemID
INDO    0.000177
SELI    0.000177
GOOD    0.000177
SHAW    0.000177
SFCL    0.000177
          ...
LOFC    0.222478
ACL     0.244779
LIOC    0.266549
EXPO    0.363009
BIL     0.395221
Name: userID, Length: 275, dtype: float64